html {
  background-color: black;
  height: 100%; }

body {
  text-shadow: 0px 0px 5px #fff;
  margin: 0;
  padding: 0;
  font-size: 1.4em;
  height: 100%; }

.column {
  width: 740px;
  margin: auto;
  position: relative;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  min-height: 100%;
  padding-bottom: 50px;
  min-height: 100%; }

a {
  color: inherit;
  -webkit-transition-property: color, text-decoration;
  -webkit-transition-duration: 0.5s, 0.5s; }

a:hover {
  color: #eee;
  /*text-shadow: 0px 0px 5px white;*/
  text-decoration: none; }

.defender a, .challenger a {
  text-decoration: none; }

.defender strong, strong.defender, span.defender {
  text-shadow: 0px 0px 5px #0033ff;
  color: #ccccff; }

.challenger strong, strong.challenger, span.challenger {
  text-shadow: 0px 0px 5px red;
  color: #ffcccc; }

h1 {
  font-family: 'MedievalSharp', serif;
  font-family: 'MedievalSharp', serif;
  font-size: 60pt;
  color: #E11;
  text-shadow: 10px 10px 1px black;
  margin: 0;
  letter-spacing: 0.25em; }

h2 {
  font-family: 'MedievalSharp', serif;
  margin: 0;
  padding: 0;
  padding-top: 1em;
  text-shadow: 4px 4px 1px black;
  color: #ffcccc;
  letter-spacing: 0.25em; }

h3 {
  font-family: 'MedievalSharp', serif;
  margin-bottom: 0; }

.indent {
  text-indent: 40px; }

fieldset {
  border: 0; }

input[type=text] {
  -moz-transform: skew(10deg);
  -webkit-transform: skew(10deg);
  padding: 5px;
  opacity: 0.5;
  width: 600px;
  display: block;
  margin: 0 auto;
  font-size: inherit;
  -webkit-transition-property: color, background, opacity;
  -webkit-transition-duration: 0.5s, 0.5s, 0.5s; }

input[type=text]:focus {
  opacity: 0.8; }

.defender input[type=text]:focus {
  background-color: #ccccff;
  color: #0033ff; }

.challenger input[type=text]:focus {
  background-color: #ffcccc;
  color: red; }

label {
  display: block;
  margin: 0px auto;
  width: 600px;
  text-align: left;
  -webkit-box-shadow: 10px 10px 10px #000; }

input[type=submit] {
  color: #900;
  border: 1px solid #900;
  font-weight: bold;
  font-size: 2em;
  -webkit-transition-property: color;
  -webkit-transition-duration: 0.5s, 0.5s, 0.5s;
  border: 0;
  width: 350px;
  font-family: 'MedievalSharp', serif;
  background-color: rgba(255, 255, 255, 0);
  text-shadow: 5px 5px 0px black; }

input[type=submit]:hover {
  cursor: pointer;
  color: red; }

/* http://janpirnatphoto.deviantart.com/art/Lightning-100224065?q=boost%3Apopular%20lightning&qo=1 */
#background_graphic {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  display: none; }

ul {
  list-style-type: none; }

li {
  padding-bottom: 0.5em; }

[data-fight] {
  display: none; }

table {
  text-align: left;
  margin: auto; }

td {
  padding-right: 1em; }

#footer a {
  /*color: black;*/ }

#footer {
  font-size: 1.17em;
  text-align: center; }
