
about:

    this site takes a look at ajax loading and web pages
problems face are somewhat unique, for example, routing of ajax paths

  controller actions render partials for xhr requests and have standard behavior otherwise, although its not progressively fallbackable

  there are some nice conveniences added here.  Widgets, which have functionality on any dom modification event, as well as routes.rb automatically handling history

  it is design as a demo app with an extensible library


thanks to http://benalman.com/projects/jquery-hashchange-plugin/, for sure!  Go donate to him, or something.